<div class="mb-3">
  <label for="userName" class="form-label">User Name</label>
  <input type="text" class="form-control" [(ngModel)]="user.name" #userName>
</div>
<div class="mb-3">
  <label for="userEmail" class="form-label">User Email</label>
  <input type="email" class="form-control" [(ngModel)]="user.email" #userEmail>
</div>
<div class="mb-3">
  <label for="userPassword" class="form-control">User Password</label>
  <input type="password" class="form-control" [(ngModel)]="user.password" #userPassword>
</div>
<div>
  <button type="button" class="btn btn-success" (click)="update(userName.value, userEmail.value, userPassword.value)">Update</button>
</div>
